.container{
    min-height: 50vh;
    padding: 4rem 1rem;
}
.container-fluid{
    // padding: 2rem 0rem;
    min-height: 30.5vh;

    .row{
        min-height: inherit;
    }
}

.divider{
    
    &--full{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    }

    &--partial{
    // border: 0;
    // height: 1px;
    // background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $my-color-4, rgba(0, 0, 0, 0));
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f05454' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f05454' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
