

html{
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-size: 18px;

  @include respond(tab-port) { 
    font-size: 90%; 
  }  
    
  @include respond(phone) { 
    font-size: 80%; 
  }

  

}

body{
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: $my-color-3;
}

h1,h2,h3,h5,h6{
  font-family: "Rubik";
}

h4{
  margin-top: 1rem;
  color: $my-color-4;
}

a{
  color: $my-color-4;
  transition: all .5s;
}

a:hover{
  color: $my-color-3;
  text-decoration: none;
}

.contact-icon{
  font-size: 2.5rem;
  color: $my-color-3;
  vertical-align: middle;
}

.active{
  font-weight: bold;
}
.pointer{
  cursor: pointer;
}
nav a {
  font-weight: bold;
  color: $my-color-white;
  &:hover{
    text-decoration: none;
    color: $my-color-4;
  }
  
  &.router-link-exact-active {
    color: $my-color-4; 
  }
}

.section{
  &_banner{
    color: $my-color-white;
  }
}

// .navbar-brand{
//   @include respond(phone) { 
//     font-size: 90%; 
//   }
// }

.nav-toggler-icon{
  font-size: 2.2rem;
  color: $my-color-4;
  vertical-align: middle;

  // @include respond(phone) { 
  //   font-size: 2.0rem; 
  // }
}

.text-muted{
  @include respond(phone) { 
    font-size: 65%; 
  }

  @include respond(tab-port) { 
      font-size: 65%; 
  }
}
  