.btn{
    font-weight: bold;
    &--myPrimary{
        background-color: $my-color-3;
        color: $my-color-white;
        &:hover{
            color: $my-color-4;
        }
    }
    &--mySecondary{
        background-color: $my-color-white;
        color: $my-color-2;
        border-color: $my-color-2;
        &:hover{
            color: $my-color-white;
            background-color: $my-color-2;
        }
    }
 
}