.img-avatar{
    width: 14%;
    border-radius: 50%;
    max-width: 120px;

    @include respond(phone) { 
        width: 18%;
    }

    @include respond(tab-port) { 
        width: 20%;
    }
}

.img-certificate{
    max-width: 80%;
    margin: auto;
}

.img-tech-brand-badge{
    height: 30px;
}

.img-logo{
    max-width: 250px;
    max-height: 150px;
}

.img-java{
    max-width: 60%;
}

.img-badge{
    @include respond(phone) { 
        width: 50px;
        height: 55px;
    }
}

.img-sass{
    @include respond(phone) { 
        width: 80px;
        height: 60px;
    }
}
