.img-avatar{
    width: 14%;
    border-radius: 50%;
    max-width: 120px;
}

.img-certificate{
    max-width: 80%;
    margin: auto;
}

.img-tech-brand-badge{
    height: 30px;
}

.img-logo{
    max-width: 250px;
    max-height: 150px;
}

.img-java{
    max-width: 60%;
}
