.img-avatar{
    width: 30%;
    border-radius: 50%;
}

.img-tech-brand{
    width: 100px;
    height: 30px;
    margin: 1rem 0.5rem;
}

#img-wordpress{
    width:130px; height:30px; margin: 1rem 0.5rem;
}

#img-bootstrap{
    width:130px; height:30px; margin: 1rem 0.5rem;
}

#img-php{
    width:100px; height:40px; margin: 1rem 0.3rem;
}

.img-tech-brand-badge{
    height: 30px;
}